.user_page {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.user_page_image {
    width: 100px;
    height: 100px;
}

.user_page_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 35px;
}
.user_page_info span {
    font-size: 16px;
    font-weight: 500;
}
.close:hover {
    cursor: pointer;
}
.profile_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    border: 1px solid #00b3be;
    outline: none;
    background: #f2f2f2;
    height: 35px;
    transition: .2s;
}
.profile_btn:hover {
    background: #fff;
}
