.products__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00b3be;
    padding: 5px 15px;
    color: #fff;
}
.products__item {
    margin-top: 10px;
    margin-bottom: 10px;
}
.products__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.products__title {
    font-size: 18px;
    margin: 0;
    padding: 5px 0;
    height: 30px;
    overflow: hidden;
}
.img_wrap {
    height: 160px;
}