.popup_trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    margin-left: 10%;
    border: 1px solid #00b3be;
    outline: none;
    background: #f2f2f2;
    height: 35px;
    transition: .2s;
}
.popup_trigger:hover {
    background: #fff;
}

.close:hover {
    cursor: pointer;
}
