.main {
    display: flex;
    justify-content: flex-end;
    background: url(../../images/sign-bg.jpg) no-repeat 100% 100% #eee6e3;
}
.sign_block_wrap {
    background: #00b3be;
    color: #fff;
    min-height: calc(100vh - 50px);
    width: 350px;
    padding: 50px 25px;
    text-align: center;
}

.sign_block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.tabs_select {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.tabs_select__button {
    width: 45%;
    height: 35px;
    background: #f2f2f2;
    color: #4a4a4a;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs_select__button:focus, .tabs_select__button:hover {
    outline: none;
    text-decoration: none;
    color: #4a4a4a;
}
.tabs_select__button_active {
    border-bottom: 3px solid #91d763;
}
    
.form__input {
    width: 100%;
    /* margin-bottom: 25px; */
    height: 35px;
    background: transparent;
    color: #fff;
    outline: none;
    border: none;
    border-bottom: 3px solid #fff;
}
.form__input::placeholder {
    color: #fff;
}

.form__submit {
    color: #4a4a4a;
    background: #f2f2f2;
    cursor: pointer;
}

.form__input_error {
    color: #b70808;
    height: 35px;
    display: flex;
    font-weight: 500;
}

@media only screen and (max-width: 767px) {
    .main {
        justify-content: center;
    }
}