.error_page_wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.error_page_text {
    max-width: 400px;
}

.error_page_link {
    font-weight: 500;
    display: inline-block;
    background: #00b3be;
    padding: 10px 30px;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.error_page_link:hover {
    color: #fff;
    text-decoration: none;
}